body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #f0f0f0;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  justify-content: space-between;  /* add this line */
}
.sidebar-title {
  padding-bottom: 12px;
}
.sidebar-bottom-logout {
  position: absolute; /* this will make it absolute related to sidebar */
  bottom: 18px; /* this will place it at the bottom of sidebar */
  left: 23px;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logout-text {
  margin-left: 10px;
}
ul.my-custom-list {
  list-style-type: none;
  text-align: left;
  list-style-type: none;
  padding-left: 0;
}
li.sidebar-element {
  padding-bottom: 10px;
}

.main-content {
  height: 90vh;
  padding: 20px;
  margin-left: 220px; 
  display: flex; 
  flex-direction: column; 
}

.columns {
  display: flex; 
  flex: 1; 
}

.left-column {
  flex: 0 0 60%; 
}

.right-column {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  border: 1px solid black;  
  padding: 10px;
}

.graph-outline {
  border: 1px solid black;  
  height: 20vh;
  width: 20vw;    
}

.dash-section {
  width: 50vw; 
  height: 80vh; 
}

.stats-section1 {
  width: 22vw;
  height: 23vh;
  margin-bottom: 20px;
}

.stats-section2 {
  width: 22vw;
  height: 23vh;
  margin: 10px;
}

.stats-section3 {
  width: 22vw;
  height: 23vh;
  margin: 10px;
}

.main-content h1 {
  margin: 0 0 20px 0; 
}